/* Host style */

#hostMain {
    display: none;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}
#emulator {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
}

#screen {
    width: 80vh;
    height: 80vh;
    border: 1px solid #262626;
    background-color: #0000002d;
}

#upload-rom {
    display: inline-block;
    padding: 20px 40px;
    background-color: #4CAF50;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#upload-rom:hover {
    background-color: #45a049;
}

#rom-input {
    display: none;
}

#start-button {
    display: none;
    padding: 20px 30px;
    font-size: 2rem;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#start-button:hover {
    background-color: #0056b3;
}

#hostMenu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#hostNameContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px
}

#connectedPlayersContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

#availableGamesContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

#gamesList {
    gap: 10px;
    border: 1px solid #888;
    width: 250px;
    height: 300px;
}

#hostNameContainer h1{
    margin: 0;
}

#hostNameContainer h1 {
    font-size: 1.5rem;
}

#connectedPlayersContainer p {
    margin: 0;
    font-size: 1rem;
}

#connectedPlayersContainer  {
    margin: 0;
    font-size: 1rem;
}

#connectedPlayersContainer .connected p {
    color: #0F0;
}
#connectedPlayersContainer .not-connected p {
    color: #F00;
}

#connectedPlayersContainer .keypress {
    border: 1px solid #444;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#connectedPlayersContainer .not-connected .keypress {
    border-color: #888;
}
#connectedPlayersContainer .connected .keypress{
    border-color: #FFF;
}

#connectedPlayersContainer .indicatorContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 10px;
}

@media (orientation: portrait) {
    #hostMain {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    #screen {
        width: 100vw;
        height: 100vw;
    }
    #hostMenu {
        display: none;
    }
}
